Somewhat unclear text formulation "Exceeding those in ..."

In Section 8:

> General CoAP security considerations apply. Exceeding those in [Section 11](https://rfc-editor.org/rfc/rfc7252#section-11) of [[RFC7252](https://www.rfc-editor.org/rfc/rfc7252)], the request patterns of DoC make it likely that long-lived security contexts are maintained: [amp-0rtt] ...

This might be clarified a bit e.g. 

> General CoAP security considerations in Section 11 of RFC7272 apply to DoC. Additionally, DoC will typically use request patterns that require long-lived security contexts to be maintained. [amp-0rtt] ...

At first reading I read that the DoC request patterns exceeded the request patterns defined in Section 11 of RFC7252, which didn't make much sense...
